$sh-color-dark-1:       #1e1e1e
$sh-color-dark-2:       #1e1e1eb3

$sh-color-white-1:      #ffffff
$sh-color-white-2:      #ffffffcc
$sh-color-white-3:      #ffffff80
$sh-color-white-4:      #ffffff3d
$sh-color-white-5:      #ffffff14

$sh-color-gray-1:       #8c8c8c
$sh-color-gray-2:       #bdbdbd
$sh-color-gray-3:       #e2e2e2
$sh-color-gray-4:       #f7f7f7
$sh-color-gray-5:       #fafafa

$sh-color-red-1:        #ff444a
$sh-color-red-2:        #ff444a33

$sh-color-blue-1:       #3B82F6

$sh-color-green-1:      #4caf50