.vb-autocomplete
    position: relative

    .vb-label
        font-weight: 500
        font-size: 12px
        color: $vb-color-gray-2
        margin-left: 5px
        margin-bottom: 5px

    .vb-icon-clear
        width: 20px
        height: 20px
        cursor: pointer
        background-image: vb-icon-clear($vb-color-gray-2)

    .vb-list
        position: absolute
        width: 100%
        min-height: 40px
        max-height: 200px
        background-color: $vb-color-white-1
        border-radius: 4px
        box-shadow: 0 3px 19px $vb-color-gray-3
        overflow-y: auto
        z-index: 1

    .vb-item
        display: flex
        flex-direction: row
        align-items: center
        cursor: pointer
        padding: 9px 0 9px 15px
        min-height: 35px
        font-size: 14px
        color: $vb-color-dark-1
        &:hover
            background: $vb-color-gray-4

    .vb-message
        position: absolute
        margin-top: 5px
        margin-left: 5px
        color: $vb-color-gray-2
        font-size: 12px

    .vb-size
        &-small
            height: 32px
            padding: 0 10px
            &:deep(.vb-field)
                font-size: 12px
                &::placeholder
                    font-size: 12px
        &-medium
            height: 40px
            padding: 0 12px
            &:deep(.vb-field)
                font-size: 14px
                &::placeholder
                    font-size: 14px
        &-large
            height: 48px
            padding: 0 14px
            &:deep(.vb-field)
                font-size: 16px
                &::placeholder
                    font-size: 16px

    .vb-variant
        &-outline
            background: transparent
        &-underline
            border: none
            border-radius: 0
            border-bottom: 1px solid $vb-color-gray-3
            background: transparent
            padding: 0

    .vb-error
        border-color: $vb-color-red-1
        &:hover,
        &_focused
            border-color: $vb-color-red-1

.vb-autocomplete
    &:has(.vb-size-small)
        .vb-label,
        .vb-message
            font-size: 10px
    &:has(.vb-size-large)
        .vb-label,
        .vb-message
            font-size: 14px

.vb-autocomplete:has(.vb-variant-underline)
    .vb-label
        margin-left: 0
        margin-bottom: 0
    .vb-message
        margin-left: 0

.vb-autocomplete:has(.vb-error)
    .vb-label,
    .vb-message
        color: $vb-color-red-1