.vb-breadcrumbs
    display: flex
    flex-wrap: wrap

    .vb-crumb
        display: flex
        flex-direction: row
        margin-right: 10px
        color: $vb-color-dark-1
        font-weight: 500
        &:last-child
            color: $vb-color-gray-2

    .vb-link:hover
        text-decoration-line: underline
        text-underline-offset: 2px

    .vb-separator
        margin-left: 10px

    .vb-size
        &-small
            font-size: 16px
        &-medium
            font-size: 18px
        &-large
            font-size: 20px