.vb-checkbox
    display: flex
    flex-direction: row
    align-items: center
    cursor: pointer

    .vb-input
        opacity: 0
        width: 0

    .vb-label
        display: inline-flex
        align-items: center
        user-select: none
        &:before
            content: ''
            display: inline-block
            width: 15px
            height: 15px
            flex-shrink: 0
            flex-grow: 0
            cursor: pointer
            border: 1px solid $vb-color-gray-3
            border-radius: 4px
            background-repeat: no-repeat
            background-position: center center
            background-color: $vb-color-white-1
            
    .vb-name
        font-size: 14px
        font-weight: 500
        color: $vb-color-dark-1
        margin-left: 8px
        line-height: 1px

    .vb-input:hover + .vb-label::before
        background-color: $vb-color-gray-4

    .vb-input:checked + .vb-label::before
        background-color: transparent
        background-size: 130%

.vb-checkbox.vb-disabled
    pointer-events: none
    opacity: 0.8
    cursor: default

.vb-checkbox.vb-size
    &-small
        .vb-label::before
            width: 12px
            height: 12px
        .vb-name
            font-size: 12px
            margin-left: 6px
    &-large
        .vb-label::before
            width: 17px
            height: 17px
        .vb-name
            font-size: 16px
            margin-left: 10px

@mixin getType($color)
   .vb-input:checked + .vb-label::before
        border-color: $color
        background-image: vb-icon-mark($color)

.vb-checkbox.vb-type
    &-default
        @include getType($vb-color-dark-1)
    &-primary
        @include getType($vb-color-blue-1)
    &-light
        @include getType($vb-color-gray-4)
    &-danger
        @include getType($vb-color-red-1)
    &-success
        @include getType($vb-color-green-1)
