.vb-radio
    .vb-label
        font-weight: 600
        font-size: 12px
        color: $vb-color-gray-2
        margin-bottom: 12px

    .vb-button-group
        display: flex
        flex-direction: row
        align-items: center

    .vb-radio-button
        display: flex
        flex-direction: row
        align-items: center
        margin-left: 32px
        &:first-child
            margin-left: 0

    .vb-input-field
        opacity: 0
        width: 0

    .vb-input-label
        display: inline-flex
        align-items: center
        user-select: none
        padding-top: 2px

    .vb-input-label::before
        content: ''
        display: inline-block
        width: 15px
        height: 15px
        flex-shrink: 0
        flex-grow: 0
        border: 1px solid $vb-color-gray-3
        border-radius: 50%
        background-repeat: no-repeat
        background-position: center center
        cursor: pointer
        background-color: $vb-color-white-1
        background-size: 110%

    .vb-input-field:hover + .vb-input-label::before
        background-color: $vb-color-gray-4

    .vb-input-field:checked + .vb-input-label::before
        background-color: transparent

    .vb-name
        font-size: 14px
        font-weight: 500
        color: $vb-color-dark-1
        margin-left: 8px
        cursor: pointer

.vb-radio:has(.vb-group-column)
    .vb-button-group
        display: flex
        flex-direction: column
        justify-content: flex-start
        align-items: flex-start
    .vb-radio-button
        margin-top: 15px
        margin-left: 0

.vb-radio
    &:has(.vb-size-small)
        .vb-label
            font-size: 10px
        .vb-input-label::before
            width: 12px
            height: 12px
        .vb-name
            font-size: 12px
            margin-left: 6px
    &:has(.vb-size-large)
        .vb-label
            font-size: 14px
        .vb-input-label::before
            width: 17px
            height: 17px
        .vb-name
            font-size: 16px
            margin-left: 10px

@mixin getType($color)
   .vb-input-field:checked + .vb-input-label::before
        border-color: $color
        background-image: vb-icon-mark($color)

.vb-radio
    &:has(.vb-type-default)
        @include getType($vb-color-dark-1)
    &:has(.vb-type-primary)
        @include getType($vb-color-blue-1)
    &:has(.vb-type-light)
        @include getType($vb-color-gray-4)
    &:has(.vb-type-danger)
        @include getType($vb-color-red-1)
    &:has(.vb-type-success)
        @include getType($vb-color-green-1)